<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Packing Algorithm</title>
        {%load static %}
        <script src="{% static 'plots/js/bokeh-2.2.3.min.js' %}"></script>
        <script src="{% static 'plots/js/bokeh-widgets-2.2.3.min.js' %}"></script>
        <script src="{% static 'plots/js/bokeh-tables-2.2.3.min.js' %}"></script>
    </head>
    <body>


        <div style='display:inline'>
            <h1>Drawn Polygons</h1>
            {{ response|safe }}
            <form style='display:inline' action="{% url 'start-page' %}"  method="post">
                {% csrf_token %}
                <label for="drawn_polygons"><b>Load/Clear drawn Polygons</b></label>
                <input id="drawn_polygons" type="hidden" name="drawn_polygons" value="test">
                <button type="submit" onclick="myFunction()">load</button>
            </form>
            <form style='display:inline' action="/clear_polygons/"  method="get">
                {% csrf_token %}
                <label for="clear_polygons"></label>
                <input id="clear_polygons" type="hidden" name="clear_polygons" value="test">
                <button type="submit">clear</button>
            </form>
        </div>
        <div>
            <form action="/csv_polygons/"  method="post">
                {% csrf_token %}
                <label for="load_csv_polygons"><b>Load CSV Polygons into PolyEditTool</b></label>
                <input id="load_csv_polygons" type="hidden" name="load_csv_polygons" value="test">
                <button type="submit">load to Drawtool</button>
            </form>
        </div>
        <div>
            <form action="/create_convex_polygons/"  method="post">
                {% csrf_token %}
                <label for="polygon_count"><b>Create Random Polygons, Number of Polygons</b></label>
                <input id="polygon_count" type="number" min="0"  name="polygon_count" value=5>
                <label for="vertices"><b>Number of Vertices (min 3)</b></label>
                <input id="vertices" type="number" min="3"  name="vertices" value=10>
                <button type="submit">load to Drawtool</button>
            </form>

        </div>
        <div>
            <form action="/packing_rect_container/" target="_blank"  method="get">
                {% csrf_token %}
                <label for="pack_rect_container"><b>Packing axis-parallel Rectengular Container</b></label>
                <input id="pack_rect_container" type="hidden" name="pack_polygon" value="test">
                <button type="submit" onclick="packPolygons()">pack</button>
            </form>
        </div>
         <div>
            <form action="/packing_rotated_rect_container/" target="_blank"  method="get">
                {% csrf_token %}
                <label for="pack_rotated_rect_container"><b>Packing Rectengular Container with rotating optimization 0, 90, 180, 270</b></label>
                <input id="pack_rotated_rect_container" type="hidden" name="pack_polygon" value="test">
                <button type="submit" onclick="packPolygons()">pack</button>
            </form>
        </div>
        <div>
            <form action="/packing_convex_container/" target="_blank"  method="post">
                {% csrf_token %}
                <label for="pack_convex_container"><b>Packing Rectangular Container (degree between 1-360)</b></label>
                <input id="pack_convex_container" type="number" min="1" max="360" name="angle" value=10>
                <button type="submit">pack</button>
            </form>
        </div>
        <div>
        {% autoescape off %}
            <h1>Convex Polygons</h1>
            {{drawn_polygons|safe}}
            <h1>Convex Polygons in one Plot</h1>
            {{polygons_single_plot|safe}}


        {% endautoescape %}
        </div>


    </body>




<script>
function myFunction() {
  var ds = Bokeh.documents[0].get_model_by_name('my-data-source');
  var dict1 = {x:ds.data["x"], y:ds.data["y"]};
  document.getElementById("drawn_polygons").value =JSON.stringify(dict1);
}
</script>

</html>