<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
          {%load static %}
        <script src="{% static 'plots/js/bokeh-2.2.3.min.js' %}"></script>
        <script src="{% static 'plots/js/bokeh-widgets-2.2.3.min.js' %}"></script>
        <script src="{% static 'plots/js/bokeh-tables-2.2.3.min.js' %}"></script>
  <title>Packed Polygons</title>
</head>
<body>
<div>
{% autoescape off %}

<h1>Packed Polygons Steps</h1>
{{plot_steps}}
{% endautoescape %}
</div>
<div>
<h1>Final Container Polygons Coordinates</h1>
<p>every list stands for one polygon<p>
{% for polygon in coordinates%}
{{polygon}}<br>
{%endfor%}</div>
</body>
</html>